.site {
  width: 100%;
  height: 100%;
  position: relative;

  .header {
    width: 100%;
    background: #02072F;
    box-shadow: 0 -.1px 0 0 rgba(255, 255, 255, 0.20) inset;
    height: 5.4rem;
    padding: 0 1.6rem;
    z-index: 1;

    .header_content {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item {
        display: flex;
        align-items: center;
      }

      .left {
        gap: 0.7rem;

        img {
          width: 3rem;
          height: 3rem;
        }

        div {
          p {
            height: 1.4rem;
            color: #FFF;
            font-style: normal;
            line-height: 1.4rem;
          }

          p:first-child {
            font-size: 1.4rem;
            font-weight: 600;
          }

          p:last-child {
            font-size: 1rem;
            font-weight: 400;
          }
        }
      }

      .middle {
        height: 100%;

        .nav-item {
          height: 100%;
          width: fit-content;
          max-width: 7rem;
          padding: 0 1rem;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            font-size: .8rem;
            font-weight: 600;
            line-height: 1.1rem;
            text-align: center;
            color: #FFFFFF;
            opacity: 0.5;
          }
        }

        .nav-item.selected {
          position: relative;

          p {
            font-size: 1rem;
            opacity: 1;
          }

          .slider {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 4.8rem;
            width: 5.6rem;
            background: radial-gradient(50% 50% at 50% 100%, rgba(132, 47, 250, 0.8) 0%, rgba(132, 47, 250, 0) 100%);
            transition: transform 0.2s cubic-bezier(0.65, 0, 0.35, 1);

            .slider_bottom {
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              display: block;
              height: .15rem;
              width: 50%;
              background: rgb(158, 40, 255);


            }
          }
        }
      }

      .right {
        width: 15rem;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .lang_index {
          height: 100%;
          padding: 0 .8rem;
          display: flex;
          align-items: center;
          gap: .6rem;

          .lang_icon {
            width: 1.6rem;
            height: 1.6rem;
          }

          .lang_arrow {
            width: .6rem;
            height: auto;
            transition: transform 0.6s ease;
            transform-origin: center center;
            backface-visibility: hidden;
            transform: rotate(-180deg);
          }
          .lang_arrow.selected {
            transform: rotate(0deg);
            transition: transform 0.6s ease;
          }

          p {
            color: #FFF;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }

        .lang_box {
          position: absolute;
          top: 3.9rem;
          left: 50%;
          transform: translateX(-50%);
          width: 5.6rem;
          border-radius: .4rem;
          background: #1C1D55;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;

          .lang_item {
            width: 100%;
            height: 2rem;
            font-size: .8rem;
            font-weight: 600;
            text-align: center;
            line-height: 2rem;
            color: rgba(255, 255, 255, 1);
          }

          .lang_item.selected {
            background: rgba(3, 195, 223, 1);
          }
        }

        .nav_right {
          .nav_icon {
            width: 2.4rem;
            height: 2.4rem;
          }
        }
      }
    }

  }

  .main {
    width: 100%;
    height: calc(100% - 5.4rem);
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    z-index: 1;

    .contact_btn {
      display: flex;
      align-items: center;
      width: fit-content;
      min-width: 20rem;
      padding: 0 4rem;
      height: 4.8rem;
      justify-content: center;
      gap: 1.2rem;
      border-radius: 10rem;
      background: linear-gradient(93deg, #7118ED 6.91%, #2DDEEB 93.57%);
      box-shadow: 0 1.2rem 3.6rem 0 rgba(90, 125, 242, 0.30);

      div {
        color: #FFF !important;
        font-size: 1.6rem;
        font-weight: 600;
      }

      img {
        width: 1.2rem;
        height: auto;
      }
    }

    .main_scroll_box {
      width: 100%;
      padding: 3.3rem 0 6rem;
      background: url(../images/h5_bg.jpg) no-repeat;
      background-size: 100% 100%;
    }

    .main_top {
      width: 100%;
      margin: 0 auto 4rem;
      display: flex;
      flex-direction: column-reverse;
      gap: 2.3rem;
      align-items: center;

      .main_top_right {
        width: 86%;

        img {
          width: 100%;
          height: auto;
        }
      }

      .main_top_left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2rem;

        div {
          display: flex;
          align-items: center;
        }

        p {
          max-width: 32rem;
          text-align: center;
        };

        p:nth-child(1),
        p:nth-child(2) {
          font-size: 3rem;
          line-height: 3.6rem;
          font-style: normal;
          font-weight: 600;
          background: linear-gradient(93deg, #7118ED 6.91%, #2DDEEB 93.57%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        p:nth-child(3) {
          color: #842FFA;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 150%;
        }

        .contact_btn {
          margin-top: 2rem;
        }

        .contact_channel {
          gap: 3.5rem;
          margin-top: 1.5rem;

          img {
            width: 2.4rem;
            height: 2.4rem;
          }
        }
      }
    }

    .main_item {
      width: 34.3rem;
      margin: 5rem auto 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.4rem;

        div {
          width: fit-content;
          height: 4.5rem;
          color: #FFF;
          text-align: center;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 4.5rem;
        }

        img {
          width: 2.8rem;
          height: auto;
        }
      }
    }

    .des {
      div:nth-child(2) {
        margin-bottom: 1.6rem;

        img {
          width: 32rem;
          height: auto;
        }
      }

      div:nth-child(3) {
        p {
          max-width: 32rem;
          color: #FFF;
          text-align: left;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 2.8rem;
        }
      }
    }

    .tec {
      .grid {
        display: grid;
        grid-template-columns: repeat(2, 16rem);
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 2.3rem;
        grid-row-gap: 3rem;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;

          .grid_icon {
            width: 14rem;
            height: 14rem;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 18rem;
              height: auto;
            }
          }

          p:nth-child(2) {
            height: 3.4rem;
            line-height: 3.4rem;
            font-size: 2.4rem;
            font-weight: 400;
          }

          p:nth-child(3) {
            height: 2rem;
            color: rgba(255, 255, 255, 1);
            line-height: 2rem;
            font-size: 1.6rem;
            font-weight: 400;
          }

          p:last-child {
            color: rgba(255, 255, 255, 1);
            font-size: 1.4rem;
            font-weight: 400;
            text-align: center;
            line-height: 2rem;
          }
        }

      }
    }

    .dis {

      .dis_des {
        margin-bottom: 4rem;
        color: #FFF;
        text-align: center;
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 400;
      }

      .carousel {
        width: 100%;
        overflow: visible;
        margin-bottom: 4rem;

        .carousel-container {
          position: relative;
          width: 100%;
          height: 48.2rem;
          margin: auto;
          overflow: hidden;
          perspective: 100rem;
        }

        .carousel-track {
          position: relative;
          width: 100%;
          height: 43.4rem;
          display: flex;
          gap: 2rem;
          justify-content: center;
          align-items: center;
          transform-style: preserve-3d;
          z-index: 1;
        }

        .carousel-track.skeleton {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }

        .carousel-slide {
          position: absolute;
          overflow: hidden;
          width: 20rem;
          height: 43.4rem;
          border-radius: 2rem;
          transition: transform 0.6s ease, z-index 0.6s ease;
          display: flex;
          justify-content: center;
          align-items: center;

          .slide_img {
            width: 20rem;
            height: 43.4rem;
            z-index: 0;
          }
        }

        .position-2 {
          border: .2rem solid rgba(5, 195, 222, 1);
        }

        /* Carousel Dots */
        .carousel-dots {
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: 0;
          width: 100%;
        }

        .dot {
          width: .8rem;
          height: .8rem;
          background: rgba(255, 255, 255, .2);
          border-radius: 50%;
          margin: 0 .5rem;
          transition: background 1s;
        }

        .dot.active {
          background: rgba(255, 255, 255, 1);
        }

        .controls {
          position: absolute;
          top: 50%;
          width: 100%;
          display: flex;
          justify-content: space-between;
          transform: translateY(-50%);
        }

        .controls button {
          background: rgba(255,255,255,0.8);
          border: none;
          font-size: 4rem;
          padding: 0.4rem 1rem;
          cursor: pointer;
        }
      }
    }

    .pro {
      .pro-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .pro_left {
          width: 30rem;
          height: auto;
        }

        .pro_right {
          display: flex;
          gap: 1rem;
          position: relative;

          .pro_right_div {
            display: grid;
            grid-template-columns: repeat(3, 6rem);
            grid-template-rows: repeat(2, 7.9rem);
            column-gap: 3.3rem;
            row-gap: 2.9rem;
            position: relative;

            /* 所有元素样式 */

            .pro_right_item {
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              font-weight: 400;
              font-size: .8rem;
              color: #FFF;

              .item_img {
                width: 6rem;
                height: 6rem;
              }
            }

            /* 第4个元素是第二行第3列（从右往左） */

            .pro_right_item:nth-child(4) {
              grid-column: 3;
              grid-row: 2;
            }

            /* 第5个元素是第二行第2列 */

            .pro_right_item:nth-child(5) {
              grid-column: 2;
              grid-row: 2;
            }

            /* 第6个元素是第二行第1列 */

            .pro_right_item:nth-child(6) {
              grid-column: 1;
              grid-row: 2;
            }

            .arrow {
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateX(-50%);
              display: grid;
              grid-template-columns: repeat(2, 1.3rem);
              grid-template-rows: repeat(2, 6rem);
              column-gap: 8rem;
              row-gap: 4.8rem;
              align-items: center;

              .arrow_img {
                position: relative;
                width: 100%;
                height: auto;
              }

              .arrow_img:nth-child(3),
              .arrow_img:nth-child(4) {
                transform: rotate(-180deg);
              }
            }
          }

          .turn_img {
            width: 3.1rem;
            height: 16.6rem;
          }
        }
      }

    }

    .pla {

      .pla_img {
        width: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .que {
      .que_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .que_img {
          width: 30rem;
          height: 30rem;
        }

        .que_box {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 1.6rem;

          .que_item {
            width: 100%;
            border-radius: 1.2rem;
            border: .2rem solid #262D5C;
            padding: 0 1.6rem;

            .que_item_title {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 1.5rem 0;

              div {
                color: #FFF;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 2.2rem;
              }

              img {
                width: 2.4rem;
                height: 2.4rem;
              }
            }

            .que_item_content {
              //max-height: 0;  // 初始 max-height 为 0
              overflow: hidden;  // 防止内容溢出
              border-top: .2rem solid rgba(38, 45, 92, 1);
              color: #FFF;
              padding: 1.5rem 0;  // 保留 padding，但展开时生效
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 2rem;
              white-space: pre-line;
              transition: max-height 0.2s ease-in-out;
            }
          }
        }

        // 添加 slide-down 过渡 CSS 类（Vue 会自动添加这些类）
        .slide-down-enter-active,
        .slide-down-leave-active {
          transition: max-height 0.2s ease-in-out, opacity 0.1s ease;  // 同时过渡 max-height 和 opacity（可选淡入）
          overflow: hidden;  // 确保动画期间隐藏溢出
        }

        .slide-down-enter-from,
        .slide-down-leave-to {
          max-height: 0;  // 进入时从 0 开始，离开时到 0 结束
          opacity: 0;  // 可选：淡入/淡出效果
        }

        .slide-down-enter-to,
        .slide-down-leave-from {
          max-height: 40rem;  // 展开目标：稍大于内容最大高度（根据实际内容调整，如 300px ~ 800px）
          opacity: 1;
        }

      }
    }

    .footer {
      .footer_middle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .middle_left {
          display: flex;
          align-items: center;
          gap: 0.6rem;

          img {
            width: 3.8rem;
            height: 3.8rem;
          }

          div {
            p {
              height: 1.7rem;
              color: #FFF;
              font-style: normal;
              line-height: 1.7rem;
            }

            p:first-child {
              font-size: 1.8rem;
              font-weight: 600;
            }

            p:last-child {
              font-size: 1.2rem;
              font-weight: 400;
            }
          }
        }

        .contact_btn {
          width: fit-content;
          min-width: 15rem;
          padding: 0 2rem;
        }
      }

      .bar {
        display: block;
        width: 100%;
        height: .1rem;
        margin: 2.4rem auto;
        background: #262D5C;
      }

      .footer_bottom {
        width: 100%;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        align-items: center;

        p {
          color: #FFF;
          font-size: 1.2rem;
          font-weight: 400;
        }

        .bottom_media {
          display: flex;
          align-items: center;
          gap: .8rem;

          .media_item {
            display: flex;
            gap: 1.6rem;
            width: 4.8rem;
            height: 4.8rem;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.30) 2.99%, rgba(255, 255, 255, 0.05) 96.9%);
            opacity: .5;

            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }

  .pop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.70);
    z-index: 2;
  }

  .pop.nav {
    height: calc(100% - 5.4rem);
    bottom: 0;
    left: 0;

    .pop_nav {
      width: 100%;
      background: #02072F;

      .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4.8rem;
        color: #FFF;
        font-size: 1.6rem;
        font-weight: 400;
      }

      .nav-item.selected {
        background: #03C3DF;
        font-weight: 600;
      }
    }
  }

  .pop.lang {
    height: 100%;
    bottom: 0;
    left: 0;

    .pop_lang {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 3rem 0;
      background: #02072F;

      .lang_item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4.8rem;
        color: #FFF;
        font-size: 1.6rem;
        font-weight: 400;
      }

      .lang_item.selected {
        background: #03C3DF;
        font-weight: 600;
      }
    }
  }
}